<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center">CADASTRAR</h4>
  </div>
  <div class="panel-body">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <label>Name</label>
          {{input
            class="form-control"
            placeholder="Insira o Nome"
            value=model.name}}
        </div>
        <div class="form-group">
          <label>Email</label>
          {{input
            class="form-control"
            type="email"
            placeholder="Insira o Email"
            value=model.email}}
        </div>
        <div class="form-group">
          <label>Senha</label>
          {{input
            type="password"
            class="form-control"
            placeholder="Insira a Senha"
            value=model.password}}
        </div>
        <div class="form-group">
          <label>Confirme sua senha</label>
          {{input
            class="form-control"
            type="password"
            placeholder="Confirme sua senha"
            value=model.confirmPassword}}
        </div>

        {{upload-avatar
        uploadForm=uploadForm}}
        <div class="form-group">
          <button type="submit" class="btn btn-success pull-right" {{action 'startUpload' model}}>Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
